#pylibtiff
-e git://github.com/htem/pylibtiff.git#egg=libtiff

# built on zeromq 4.0.4
pyzmq==14.3.1

#pizco
-e git://github.com/braingram/pizco.git@develop#egg=pizco

tornado==6.3.3

datautils
#andor
#smaract
#arcus
#comando
